
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Criar conta</title>

    <!-- Dependencias CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/advReal.css" crossorigin="anonymous">
</head>
<body class="sign-up-user-bg container-body">
    
    <div class="card user-new-card-mg">
        <div class="card-header">
            Crie sua conta e comece agora a gerenciar seu escritório de uma forma simples e prática. <br />
            Bastam <strong><u>30 segundos</u></strong> para se registrar!
        </div>
        <div class="card-body">
            <h5 class="card-title">Faça sua identificação:</h5>
            <form action="/User/New" method="post">
                <div class="form-group">
                    <div>&nbsp;</div>
                </div>
                <div class="form-group">
                    <label for="AccountantName">Nome do escritório</label>
                    <input type="text" class="form-control" id="accountantName" name="accountantName">
                    <small id="emailHelp" class="form-text text-muted">O nome do seu escritório de advocacia.</small>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">Você usará esse e-mail para acessar o sistema.</small>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <small id="emailHelp" class="form-text text-muted">Você usará essa senha para acessar o sistema.</small>
                </div>
                <button type="submit" class="btn btn-primary float-right">Criar conta</button>
            </form>
        </div>
    </div>

    <footer class="footer text-muted">
        <div class="row-fluid">&nbsp;</div>

        <div class="container">
            <p class="text-secondary text-center">© Adv Real. Todos os direitos reservados - 2018 </p>

        </div>
    </footer>
</body>
</html>
