@{
    Layout = "~/Views/Base/_Layout.cshtml";
}

<div class="container mg-top-default">
    <form>
        <div class="form-group">
            <label for="identificar">Nome/Razão Social</label>
            <input type="text" class="form-control" id="identificador" value="00001">
            <small id="emailHelp" class="form-text text-muted">Ex: "AdvReal Advocacia"</small>
        </div>
        <div class="form-group">
            <label for="cpfcnpj">Cpf/Cnpj</label>
            <input type="text" class="form-control" id="cpfCnpj" value="011.652.985-67">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" value="advreal@advocacia.com.br">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" value="21 980656598">
        </div>
        <div class="form-group">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <td colspan="7" class="text-center">Arquivos</td>
                    </tr>
                    <tr>
                        <th colspan="1"></th>
                        <th colspan="5">Descrição</th>
                        <th colspan="1">Data upload</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">
                            <img src="~/imagens/balanca.png" class="rounded mx-auto d-block" height="42" width="42"/>
                        </td>
                        <td colspan="5">Justiça </td>
                        <td colspan="1">04/04/2018 09:25</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile04">
                <label class="custom-file-label" for="inputGroupFile04">Vincular arquivos</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Enviar arquivo</button>
            </div>
        </div>
        <div class="form-group">
            <a href="#" class="btn btn-primary float-right">Registrar</a>
        </div>
    </form>
</div>



