@{
    Layout = "~/Views/Base/_Layout.cshtml";
}

<div class="container pd-top-default">
    <form>
        <div class="row">
            <div class="col-md-6">
                <label for="identificar">Nome/Razão Social</label>
                <input type="text" class="form-control" id="identificador" value="00001">
                <small id="emailHelp" class="form-text text-muted">Ex: "AdvReal Advocacia"</small>
            </div>
            <div class="col-md-6">
                <label for="cpfcnpj">Cpf/Cnpj</label>
                <input type="text" class="form-control" id="cpfCnpj" value="011.652.985-67">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" value="advreal@advocacia.com.br">
            </div>
            <div class="col-md-6">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" value="21 980656598">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="RG">RG</label>
                <input type="text" class="form-control" id="rg">
            </div>
            <div class="col-md-6">
                <label for="profissao">Profissão</label>
                <input type="text" class="form-control" id="profissao">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="nome_mae">Nome da mãe</label>
                <input type="text" class="form-control" id="nome_mae">
            </div>
            <div class="col-md-6">
                <label for="estado_civil">Estado civil</label>
                <select class="form-control">
                    <option>Selecione...</option>
                    <option>Solteira(o)</option>
                    <option>Casada(o)</option>
                    <option>Divorciada(o)</option>
                    <option>Viúva(o)</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="nome_mae">Nome do pai</label>
                <input type="text" class="form-control" id="nome_pai">
            </div>
        </div>
        <div class="row">
            <div class="clearfix">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <td colspan="7" class="text-center">Arquivos</td>
                        </tr>
                        <tr>
                            <th colspan="1"></th>
                            <th colspan="5">Descrição</th>
                            <th colspan="1">Data upload</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="1">
                                <img src="~/imagens/balanca.png" class="rounded mx-auto d-block" height="42" width="42" />
                            </td>
                            <td colspan="5">Justiça </td>
                            <td colspan="1">04/04/2018 09:25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile04">
                        <label class="custom-file-label" for="inputGroupFile04">Vincular arquivos</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Enviar arquivo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary float-right">Salvar</button>
            </div>
        </div>
        <br />
    </form>
</div>



