@{
    Layout = "~/Views/Base/_Layout.cshtml";
}
<style>
</style>
<div class="container mg-top-default">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="1">
                    <a class="btn btn-primary btn-sm pull-left" href="~/Cliente/Novo">
                        <i class="fa fa-plus"></i>
                        Novo
                    </a>
                </th>
                <th scope="col" colspan="2">
                    <span class="text-center">
                        Lista de clientes
                    </span>
                </th>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Pendências?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">00001</td>
                <td>Hospital Carlos Chagas</td>
                <td>Sim</td>
            </tr>
            <tr>
                <td scope="row">00002</td>
                <td>Carmela dos Santos</td>
                <td>Sim</td>
            </tr>
            <tr>
                <td scope="row">00003</td>
                <td>Supermecados Kitudo</td>
                <td>Sim</td>
            </tr>
            <tr>
                <td scope="row">00004</td>
                <td>Farmácia Bonjour</td>
                <td>Sim</td>
            </tr>
            <tr>
                <td scope="row">00005</td>
                <td>Robson da Silva</td>
                <td>Sim</td>
            </tr>
        </tbody>
    </table>
</div>
