

    
    
body {
    background-color: #343a4085 !important;
    font-family: "Poppins", sans-serif;
}

.container-body {
    background-color: #f1f1f1 !important;
    border-radius: 10px;
    margin-top: 7px;
}

footer {
    clear: both;
    color:white;
}
.pd-top-default {
    padding-top: 4%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.adv-dropdown-item {
    font-size: 11px !important;
}

.adv-body-full{
    width:100%;
}

.adv-bg-azul {
    background-color: #1e88e5 !important;
    
}

.adv-text-white {
    color: #fff;
}

.adv-card-default {
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    padding: 1.25rem;
    text-align: center;
    font-size: 0.875em;
    margin-left: 2%;
}

.adv-card-warning {
    background-color: #ffbe61;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    padding: 1.25rem;
    text-align: center;
}

.adv-card-success {
    background-color: #62abff;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    padding: 1.25rem;
    text-align: center;
}

.counter-badge {
    background: #ffc107;
    margin-right: -5px;
    margin-top: -5px;
}

.border-right-solid-2x {
    border-right: 2px solid;
    border-color: rgba(0, 0, 0, 0.37);
}



.sign-up-user-bg {
    background: url(../imagens/sign-up-background.jpg) 50% 50% no-repeat !important;
    font-family: "Poppins", sans-serif;
}



.login-user-bg {
    background: url(../imagens/signup-bg.jpg) 50% 50% no-repeat !important;
    font-family: "Poppins", sans-serif;
    padding: 3%;
}

.user-new-card-mg {
    margin-left: 25%;
    margin-top: 7%;
    margin-right: 26%;
}

.user-login-card-mg {
    margin-left: 40%;
    margin-top: 7%;
    margin-right: 40%;
}


@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    .login-user-bg {
        margin-top: 0;
    }
}

.mg-5{
    margin-left: 22px;
}