@{
    Layout = "~/Views/Base/_Layout.cshtml";
}

<div class="container pd-top-default">
    <form>
        @Html.Partial("_NovoContato")
        
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary float-right">Registrar</button>
            </div>
        </div>
        <br />
    </form>
</div>


