@{
    Layout = "~/Views/Base/_Layout.cshtml";
}
<link rel='stylesheet' href='~/css/fullcalendar.min.css' />
<script src='~/lib/jquery/jquery.min.js'></script>
<script src='~/lib/moment/moment.min.js'></script>
<script src='~/lib/fullCalendar/fullcalendar.js'></script>
<script src='~/lib/fullCalendar/locale/pt-br.js'></script>
<style>
    .img-topo {
        margin-top: 4%;
        margin-left: 7%;
    }

    h6 {
        text-align: center;
    }
</style>

<div class="container">
    <div class="row-fluid">
        <br />
    </div>
    <div class="row">
        <h3 class="font-weight-light">
            Agenda de compromissos
        </h3>
    </div>
    <div id="calendar"></div>
    <br />
    <div class="container">
        <div class="row">
            <h3 class="font-weight-light">
                Andamento dos Processos
            </h3>
        </div>
        <div class="row">
            <div class="col border-right-solid-2x">
                <p class="font-weight-bold">Com alteração</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Para esta semana</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="~/Processo/Detalhe">Hospital Carlos Chagas</a>
            </div>
            <div class="col border-right-solid-2x">201800001</div>
            <div class="col">Farmácia Bonjour</div>
            <div class="col">201800002</div>
        </div>

        <br />
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Fechados</div>
            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">Andamento</div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">Atrasados</div>
        </div>
        <br />
    </div>

</div>



<script>
    $(function () {

        $('#calendar').fullCalendar({
            weekends: false,
            header: { center: 'month,agendaWeek, list' }, 
            themeSystem: 'bootstrap4',
            height: 450,
            aspectRatio: 1.8,
            
            events: [
                {
                    title: 'Reunião HCH',
                    start: '2018-04-01'
                },
                {
                    title: 'Implantação sistema ADVREAL em cliente',
                    start: '2018-04-06',
                    end: '2018-04-13'
                },
                {
                    title: 'Update Equipe',
                    start: '2018-04-10T13:30:00',
                    allDay: false // will make the time show
                }
            ]
            // put your options and callbacks here
        })

    });
</script>