@{
    Layout = "~/Views/Base/_Layout.cshtml";
}


<div class="container pd-top-default">
    <form>
        <div class="row">
            <h3 class="font-weight-light">
                Dados do escritório
            </h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group col-md-6">
                    <label for="nome">Nome do escritório</label>
                    <input type="text" class="form-control" id="nome" value="Adv Real Advocacia">
                </div>
                <div class="form-group col-md-6">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone" value="21 980656598">
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-2 clearfix"></div>
                <div class="col-md-1 clearfix"></div>
                <div class="col-md-4">
                    <a href="#">
                        <img src="https://use.fontawesome.com/releases/v5.0.9/svgs/solid/images.svg" class="fa-sm" alt="..." width="200" height="200" class="img-thumbnail">
                    </a>
                </div>
                <div class="col-md-1 clearfix"></div>
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="row">
            <h3 class="font-weight-light">
                Equipe de usuários
            </h3>
        </div>
        <div class="row">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <td colspan="9" class="text-center">
                            Equipe
                            <a href="#" class="btn btn-secondary btn-sm float-right">
                                Permissões
                                <i class="fas fa-user-secret"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="1"></th>
                        <th colspan="5">Nome</th>
                        <th colspan="1">Email</th>
                        <th colspan="1">Função</th>
                        <th colspan="1">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">001</td>
                        <td colspan="5">Paulo Cezar</td>
                        <td colspan="1">paulocezar@advreal.com.br</td>
                        <td colspan="1">Administrador</td>
                        <td colspan="1">
                            <a href="#" class="btn btn-outline-danger btn-sm">Inativar</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">002</td>
                        <td colspan="5">Fernando Medeiros</td>
                        <td colspan="1">fernando@advreal.com.br</td>
                        <td colspan="1">Administrador</td>
                        <td colspan="1">
                            <a href="#" class="btn btn-outline-danger btn-sm">Inativar</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">003</td>
                        <td colspan="5">Karina Joaquina</td>
                        <td colspan="1">karina@advreal.com.br</td>
                        <td colspan="1">Assistente</td>
                        <td colspan="1">
                            <a href="#" class="btn btn-outline-danger btn-sm">Inativar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <a href="#" class="btn btn-primary float-right">Salvar</a>
            </div>
        </div>

    </form>
</div>




